---
---

@import "{{ site.theme }}";

// Adjust the main content section
section {
  width: 900px; // Use the remaining space after the sidebar
  margin-left: 250px; // Add some space between the sidebar and the content
  padding: 50px; // Optional: inner padding within the section
  float: none;
}
