---
---

@import "{{ site.theme }}";

// Override the wrapper width to be 100% to ensure full use of the space
.wrapper {
  max-width: 100%;
}

// Custom styles for the main content section
section {
  width: 100%; // Calculate the width minus the sidebar width
  margin-left: 300px; // Push the section to the right, away from the sidebar
  float: right; // Keeps the section next to the sidebar
  padding-bottom: 50px; // Keeps existing padding
}

// Media query for responsiveness on smaller screens
@media screen and (max-width: 900px) {
  header, section {
    width: 100%;
    margin-left: 0;
    float: none;
  }
}
